<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>Channels</h1>
  <div>
    <h2>Add new Channel by id</h2>
    <form action="/channel/add" method="post">
      <input type="text" name="handle" id="handle" placeholder="@handle">
      <button type="submit">Add new Channel</button>
    </form>
    
  </div>
  <p>Active channels <%= channels.length %></p>
  <ul class="channel-list">
    <% channels.forEach(channel => { %>
        <li><%= channel.channelTitle %>
        <form action="/channel/delete" method="post">
          <input type="hidden" name="channelId" value="<%= channel._id %>">
          <button type="submit">Delete</button>
        </form>
    </li>
    <% }); %>
</ul>
<form action="/api/save" method="post">
  <button type="submit">Save channel playlists to DB</button>
</form>
    <h1>Playlists</h1>
    <div class="playlist-header">
      <div><a href="/?filter=active">Active (<%= nonDeletedPlaylists %>)</a></div>
      <div><a href="/?filter=deleted">Deleted (<%= deletedPlaylists  %>)</a></div>
      <div><a href="/?filter=all">All (<%= totalPlaylists  %>)</a></div>
    </div>
    <% if (all_playlists.length > 0) { %>
      <table>
          <thead>
              <tr>
                  <th></th>
                  <th></th>
                  <th>Title</th>
                  <th>Channel</th>
                  <th>lastPublishedAt</th>
                  <th>Deleted</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <% all_playlists.forEach(playlist => { %>
              <tr>
                  <td><%= all_playlists.indexOf(playlist)+1 %></td>
                  <td><img src=<%= playlist.thumbnail_default %> alt=<%= playlist.title %> /></td>
                  <td><a href=<%= playlist.link %> target="_blank" rel="noopener noreferrer"><%= playlist.title %></a></td>
                  <td><%= playlist.channelTitle %></td>
                  <td><%= playlist.lastPublishedAt %></td>
                  <td><%= playlist.deleted %></td>
                  <td>
                    <% if (playlist.deleted === false) { %>
                      <form action="/api/delete/" method="post">
                        <input type="hidden" name="playlistId" value="<%= playlist._id %>">
                        <button type="submit">Delete</button>
                      </form>
                    <% } else { %>
                      <form action="/api/restore/" method="post">
                        <input type="hidden" name="playlistId" value="<%= playlist._id %>">
                        <button type="submit">Restore</button>
                      </form>
                    <% } %>
                  </td>
                  
              </tr>
              <% }); %>
          </tbody>
      </table>
      <% } else { %>
      <p>No playlists available.</p>
      <% } %>

  </body>
</html>
